h1 {
    color: #378391;
    font-family: 'Courier New', Courier, monospace;
}



.header{
background-color: #b92dd4;
display: flex;
justify-content: space-between;
}

.grid{
 display: flex;  
justify-content: space-evenly;
flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
background-color: #808080;
}